<% provide(:title, @director.name) %>

	<div class="span6">
			<h3><%= @director.name %>&nbsp;<%= link_to "edit", edit_director_path(@director) %><br />
			</h3>

			<h5>Films directed:</h5>

			<ul>
			<% @films.each do |film| %>

				<li><%= link_to film.name, film_path(film) %></li>

			<% end %>
			</ul>

	</div>

	</div><!-- row -->
