<% provide(:title, @film.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= @film.name %><br />
			</h1>
				<%= @film.synopsis %><br />
				<%= @film.trailer_url %><br />

		</section>
	</aside>
</div>