    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            fesafdsa
            <%= yield :sidebar %>

          </div><!--/.well -->
        </div><!--/span-->
